/* App.css */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure full viewport height */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%; /* Ensure full height */
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Main content area */
.App {
  flex: 1; /* Take up available space */
  padding-top: 64px; /* Matches Navbar height */
}

/* Footer styles */
.footer {
  background-color: var(--color-primary-dark);
  color: #fff;
  text-align: center;
  padding: 16px 0;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.2px;
}